# ignore sensitive data
data/ENCASEH2020/
data/full_tweets_all.csv
data/full_tweets_geo.csv
TwitterKeys.txt

# additional files / folders
git-course-notes.md
Introduction_FinalProject_inLecture.pdf
presentation/
